<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>interface</string>
	<key>sprites</key>
	<dict>
		<key>jewel1</key>
		<dict>
			<key>frameCount</key>
			<string>1</string>
			<key>format</key>
			<string>jewel1.png</string>
			<key>spritesheets</key>
			<array>
				<string>jewel_resources.plist</string>
			</array>
		</dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>eliminate1</key>
		<dict>
			<key>delay</key>
			<string>0.04</string>
			<key>format</key>
			<string>fireEliminate_%03d.png</string>
			<key>frameCount</key>
			<integer>20</integer>
			<key>spritesheets</key>
			<array>
				<string>jewel_fire_eliminate.plist</string>
			</array>
		</dict>
		<key>jewelSelected</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>format</key>
			<string>jewelSelected_%03d.png</string>
			<key>frameCount</key>
			<integer>10</integer>
			<key>spritesheets</key>
			<array>
				<string>jewelSelected.plist</string>
			</array>
		</dict>
	</dict>
	<key>sounds</key>
	<dict/>
	<key>attributes</key>
	<dict/>
</dict>
</plist>
