<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fireEliminate_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{180,220}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,45},{180,220}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,140},{172,182}}</string>
			<key>offset</key>
			<string>{-1,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{63,63},{172,182}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,416},{148,156}}</string>
			<key>offset</key>
			<string>{3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{79,81},{148,156}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,582},{126,128}}</string>
			<key>offset</key>
			<string>{-4,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,89},{126,128}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,574},{136,92}}</string>
			<key>offset</key>
			<string>{-21,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{61,105},{136,92}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,178},{152,82}}</string>
			<key>offset</key>
			<string>{-19,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{55,107},{152,82}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,328},{158,86}}</string>
			<key>offset</key>
			<string>{-20,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,103},{158,86}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{176,324},{166,90}}</string>
			<key>offset</key>
			<string>{-20,4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{47,101},{166,90}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,224},{172,102}}</string>
			<key>offset</key>
			<string>{-21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,99},{172,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,2},{180,136}}</string>
			<key>offset</key>
			<string>{-21,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{39,81},{180,136}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{348,448},{128,156}}</string>
			<key>offset</key>
			<string>{7,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,77},{128,156}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{152,416},{136,164}}</string>
			<key>offset</key>
			<string>{7,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{89,75},{136,164}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,2},{142,174}}</string>
			<key>offset</key>
			<string>{6,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{85,73},{142,174}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{358,262},{148,184}}</string>
			<key>offset</key>
			<string>{7,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{83,69},{148,184}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,668},{120,132}}</string>
			<key>offset</key>
			<string>{23,17}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{113,67},{120,132}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,482},{56,64}}</string>
			<key>offset</key>
			<string>{33,55}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{155,63},{56,64}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,416},{56,64}}</string>
			<key>offset</key>
			<string>{35,57}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{157,61},{56,64}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_018.png</key>
		<dict>
			<key>frame</key>
			<string>{{290,548},{54,64}}</string>
			<key>offset</key>
			<string>{37,60}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{160,58},{54,64}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>fireEliminate_019.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jewel_fire_eliminate-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{512,802}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:87b4730a25dd556e764739592716f88b$</string>
		<key>textureFileName</key>
		<string>jewel_fire_eliminate-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
