<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jewelSelected_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{93,93}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{93,93}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{93,93}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{93,93}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{93,93}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{93,93}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,91}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,91}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,91}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,91}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
		<key>jewelSelected_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,97},{91,91}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{91,91}}</string>
			<key>sourceSize</key>
			<string>{95,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jewelSelected-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{97,190}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cc81e78b32da76c7b36ab66b0a85d8c8$</string>
		<key>textureFileName</key>
		<string>jewelSelected-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
