<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jewel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,186},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel1_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,424},{58,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel1_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,246},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel2_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{62,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{62,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel2_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,362},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel3_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,304},{60,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel3_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{64,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel4_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,310},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel4_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,246},{60,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel4_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,68},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,360},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel5_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,368},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel5_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{58,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{58,54}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel5_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,252},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel6_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,304},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel6_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{60,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,56}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel6_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,66},{66,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,132},{60,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel7_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,186},{60,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel7_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,416},{58,58}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{58,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>jewel7_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>jewel_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,192},{60,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,58}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jewel_resources.png</string>
            <key>size</key>
            <string>{254,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90984c39ebb85cbbdc72b892b1774de8$</string>
            <key>textureFileName</key>
            <string>jewel_resources.png</string>
        </dict>
    </dict>
</plist>
