<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fire_jewel_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
		<key>fire_jewel_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,104},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
		<key>fire_jewel_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
		<key>fire_jewel_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{110,2},{102,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{102,104}}</string>
			<key>sourceSize</key>
			<string>{102,104}</string>
		</dict>
		<key>fire_jewel_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,412},{98,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,102}}</string>
			<key>sourceSize</key>
			<string>{98,102}</string>
		</dict>
		<key>fire_jewel_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,412},{98,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{98,102}}</string>
			<key>sourceSize</key>
			<string>{98,102}</string>
		</dict>
		<key>fire_jewel_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,106},{100,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,104}}</string>
			<key>sourceSize</key>
			<string>{100,104}</string>
		</dict>
		<key>fire_jewel_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{108,106},{100,104}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,104}}</string>
			<key>sourceSize</key>
			<string>{100,104}</string>
		</dict>
		<key>fire_jewel_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,310},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{104,310},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,310},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,106}}</string>
			<key>sourceSize</key>
			<string>{100,106}</string>
		</dict>
		<key>fire_jewel_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{100,106}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,106}}</string>
			<key>sourceSize</key>
			<string>{100,106}</string>
		</dict>
		<key>fire_jewel_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,208},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_015.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,208},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_016.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
		<key>fire_jewel_017.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{100,102}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,102}}</string>
			<key>sourceSize</key>
			<string>{100,102}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jewel_fire-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{216,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:98f51c5800a184c1031914a20bf84154$</string>
		<key>textureFileName</key>
		<string>jewel_fire-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
