<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>interface</string>
	<key>sprites</key>
	<dict>
		<key>jewel1</key>
		<dict>
			<key>frameCount</key>
			<string>1</string>
			<key>format</key>
			<string>jewel1.png</string>
			<key>spritesheets</key>
			<array>
				<string>jewel_resources.plist</string>
			</array>
		</dict>
	</dict>
	<key>animations</key>
	<dict>
		<key>turnChange_player</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>format</key>
			<string>player_turn_%03d.png</string>
			<key>frameCount</key>
			<integer>1</integer>
			<key>spritesheets</key>
			<array>
				<string>turn_player.plist</string>
			</array>
		</dict>
		<key>turnChange_friendly</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>format</key>
			<string>friendly_turn_%03d.png</string>
			<key>frameCount</key>
			<integer>1</integer>
			<key>spritesheets</key>
			<array>
				<string>turn_friendly.plist</string>
			</array>
		</dict>
		<key>turnChange_enemy</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>format</key>
			<string>enemy_turn_%03d.png</string>
			<key>frameCount</key>
			<integer>1</integer>
			<key>spritesheets</key>
			<array>
				<string>turn_enemy.plist</string>
			</array>
		</dict>
		<key>icon_status_finished</key>
		<dict>
			<key>delay</key>
			<string>0.06</string>
			<key>format</key>
			<string>icon_status_finished_%03d.png</string>
			<key>frameCount</key>
			<integer>150</integer>
			<key>spritesheets</key>
			<array>
				<string>icon_status_finished.plist</string>
			</array>
		</dict>
	</dict>
	<key>sounds</key>
	<dict/>
	<key>attributes</key>
	<dict/>
</dict>
</plist>
