<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>jewel1.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,361},{119,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{119,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel1_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{376,254},{119,113}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{119,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel1_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,815},{113,107}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{113,107}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel1_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,120},{130,126}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{130,126}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel2.png</key>
		<dict>
			<key>frame</key>
			<string>{{253,369},{119,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{119,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel2_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,481},{119,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{119,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel2_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{132,248},{121,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{121,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel2_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{132,122}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{132,122}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,814},{117,105}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{117,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel3_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{361,696},{117,105}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,10},{117,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel3_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,707},{117,105}}</string>
			<key>offset</key>
			<string>{-2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{117,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel3_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,248},{128,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{128,116}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel4.png</key>
		<dict>
			<key>frame</key>
			<string>{{242,597},{117,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{117,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel4_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{121,702},{117,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{117,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel4_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,594},{117,111}}</string>
			<key>offset</key>
			<string>{-2,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{117,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel4_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{268,130},{128,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{128,122}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel5.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,369},{119,105}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{119,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel5_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,476},{119,105}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{119,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel5_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{357,803},{113,105}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,10},{113,105}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel5_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,2},{132,116}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{132,116}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel6.png</key>
		<dict>
			<key>frame</key>
			<string>{{363,583},{117,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{117,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel6_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,476},{119,111}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{119,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel6_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{123,589},{117,111}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,7},{117,111}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel6_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,126},{130,120}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,7},{130,120}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel7.png</key>
		<dict>
			<key>frame</key>
			<string>{{255,254},{119,113}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{119,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel7_d.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,366},{119,113}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,2},{119,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel7_f.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,710},{115,113}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,5},{115,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
		<key>jewel7_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2},{130,126}}</string>
			<key>offset</key>
			<string>{1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{130,126}}</string>
			<key>sourceSize</key>
			<string>{132,132}</string>
		</dict>
		<key>jewel_l.png</key>
		<dict>
			<key>frame</key>
			<string>{{244,482},{117,113}}</string>
			<key>offset</key>
			<string>{-2,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,10},{117,113}}</string>
			<key>sourceSize</key>
			<string>{123,123}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>jewel_resources-ipadhd.png</string>
		<key>size</key>
		<string>{497,924}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:28e52a9763e81cfa9c6ae67bdcbdb67b$</string>
		<key>textureFileName</key>
		<string>jewel_resources-ipadhd.png</string>
	</dict>
</dict>
</plist>
