<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireEliminate_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,86},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,110}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{90,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,72},{86,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,32},{86,90}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,210},{74,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{74,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,290},{62,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,44},{62,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,218},{68,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{68,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{76,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{76,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,174},{78,42}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{78,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,164},{82,44}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,51},{82,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{86,50}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,50},{86,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,68}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,40},{90,68}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,266},{64,78}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{64,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{68,82}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,37},{68,82}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,86},{70,86}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{70,86}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{74,92}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,34},{74,92}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{60,66}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{60,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,286},{28,32}}</string>
                <key>offset</key>
                <string>{16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,31},{28,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,252},{28,32}}</string>
                <key>offset</key>
                <string>{17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,30},{28,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,218},{28,32}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,29},{28,32}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fireEliminate_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,86},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jewel_fire_eliminate.pvr.ccz</string>
            <key>size</key>
            <string>{256,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f1ceb6cfed09fb58d9eff9b2324cd63$</string>
            <key>textureFileName</key>
            <string>jewel_fire_eliminate.pvr.ccz</string>
        </dict>
    </dict>
</plist>
