<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,80}}</string>
                <key>sourceSize</key>
                <string>{768,80}</string>
            </dict>
            <key>flash_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{768,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,68}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{768,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{768,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{768,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,66}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{768,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{768,60}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{768,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{768,72}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{768,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,68}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{768,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{768,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{768,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,66}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{768,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{768,60}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{768,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{768,72}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{768,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,68}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{768,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{768,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{768,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,66}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{768,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{768,60}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{768,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{768,72}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{768,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,68}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{768,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{768,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{768,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,66}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{768,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{768,60}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{768,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{768,72}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{768,68}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,68}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{768,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{768,64}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{768,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{768,70}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{768,66}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,95},{768,66}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{768,60}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{768,60}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>flash_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{768,42}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,108},{768,42}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{768,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{768,40}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,624},{768,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{768,40}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{768,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{768,40}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{768,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,109},{768,40}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{768,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{768,38}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{768,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{768,38}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{768,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,110},{768,38}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{768,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{768,36}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{768,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{768,36}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{768,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{768,36}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
            <key>light_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{768,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,111},{768,36}}</string>
                <key>sourceSize</key>
                <string>{768,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight_light.pvr.ccz</string>
            <key>size</key>
            <string>{774,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e40e723c0032eeeb3e066647954af38$</string>
            <key>textureFileName</key>
            <string>fight_light.pvr.ccz</string>
        </dict>
    </dict>
</plist>
