<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fHp.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,82},{106,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{106,30}}</string>
			<key>sourceSize</key>
			<string>{106,30}</string>
		</dict>
		<key>fHpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{398,184},{110,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{110,34}}</string>
			<key>sourceSize</key>
			<string>{110,34}</string>
		</dict>
		<key>fPortrait.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,2},{74,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{74,78}}</string>
			<key>sourceSize</key>
			<string>{74,78}</string>
		</dict>
		<key>hp.png</key>
		<dict>
			<key>frame</key>
			<string>{{532,114},{370,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{370,24}}</string>
			<key>sourceSize</key>
			<string>{370,24}</string>
		</dict>
		<key>hpBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,184},{394,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{394,48}}</string>
			<key>sourceSize</key>
			<string>{394,48}</string>
		</dict>
		<key>hpMask.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,184},{370,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{370,30}}</string>
			<key>sourceSize</key>
			<string>{370,30}</string>
		</dict>
		<key>line.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,234},{1536,4}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{1536,4}}</string>
			<key>sourceSize</key>
			<string>{1536,4}</string>
		</dict>
		<key>portrait.png</key>
		<dict>
			<key>frame</key>
			<string>{{346,2},{184,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{184,180}}</string>
			<key>sourceSize</key>
			<string>{184,180}</string>
		</dict>
		<key>vs.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{342,180}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{342,180}}</string>
			<key>sourceSize</key>
			<string>{342,180}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fight_portrait-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{1540,240}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:32a6111c8f6a831e6886b226024265e0$</string>
		<key>textureFileName</key>
		<string>fight_portrait-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
