<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_2_idle_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,65}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>fighter_2_idle_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{60,65}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,65}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>fighter_2_idle_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{60,65}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,65}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>fighter_2_idle_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,65}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{60,65}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>fighter_2_idle_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,64},{66,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{66,61}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
            <key>fighter_2_idle_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,64},{62,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{62,63}}</string>
                <key>sourceSize</key>
                <string>{72,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_2_idle.pvr.ccz</string>
            <key>size</key>
            <string>{203,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68635ecc7e0034152c0d1bb2bb85c8d6$</string>
            <key>textureFileName</key>
            <string>fighter_2_idle.pvr.ccz</string>
        </dict>
    </dict>
</plist>
