<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fighter_2_idle_fl_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{270,2},{122,130}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,9},{122,130}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
		<key>fighter_2_idle_fl_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,2},{120,132}}</string>
			<key>offset</key>
			<string>{5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,7},{120,132}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
		<key>fighter_2_idle_fl_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{120,132}}</string>
			<key>offset</key>
			<string>{5,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{17,7},{120,132}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
		<key>fighter_2_idle_fl_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,124},{122,132}}</string>
			<key>offset</key>
			<string>{4,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{15,7},{122,132}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
		<key>fighter_2_idle_fl_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{136,126},{134,124}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{134,124}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
		<key>fighter_2_idle_fl_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{272,126},{126,126}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,13},{126,126}}</string>
			<key>sourceSize</key>
			<string>{144,150}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fighter_2_idle_fl-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{402,254}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6fd5cb497af2fd3f29cf0502b1cb8ec1$</string>
		<key>textureFileName</key>
		<string>fighter_2_idle_fl-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
