<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_1_idle_fr_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{52,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{52,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{52,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{52,69}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{52,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{52,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{54,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{54,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,65}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{56,65}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{52,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{52,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{52,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{52,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{52,69}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{52,69}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{52,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{52,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>fighter_1_idle_fr_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{54,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{54,67}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_1_idle_fr.pvr.ccz</string>
            <key>size</key>
            <string>{60,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faeab15af431e4c70ac833e478fb35cb$</string>
            <key>textureFileName</key>
            <string>fighter_1_idle_fr.pvr.ccz</string>
        </dict>
    </dict>
</plist>
