<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fighter_1_run_fl_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{176,150}}</string>
			<key>offset</key>
			<string>{4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,5},{176,150}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fl_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{158,144}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{19,15},{158,144}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fl_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{188,142}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{188,142}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fl_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{188,152}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{188,152}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fl_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{148,308},{158,138}}</string>
			<key>offset</key>
			<string>{3,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{23,21},{158,138}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fl_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,146},{186,142}}</string>
			<key>offset</key>
			<string>{3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,11},{186,142}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fighter_1_run_fl-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{382,468}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:11298ce672eaf6445a3a68789a16be04$</string>
		<key>textureFileName</key>
		<string>fighter_1_run_fl-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
