<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fighter_1_run_fr_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,156},{176,150}}</string>
			<key>offset</key>
			<string>{-4,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{176,150}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fr_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,308},{158,144}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{21,15},{158,144}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fr_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,2},{188,142}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,11},{188,142}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fr_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{188,152}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,5},{188,152}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fr_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,308},{158,138}}</string>
			<key>offset</key>
			<string>{-3,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,21},{158,138}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
		<key>fighter_1_run_fr_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,146},{186,142}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,11},{186,142}}</string>
			<key>sourceSize</key>
			<string>{198,162}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fighter_1_run_fr-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{382,454}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:4d34bb666d70e2f1edab3cea697011c8$</string>
		<key>textureFileName</key>
		<string>fighter_1_run_fr-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
