<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_1_run_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{44,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>fighter_1_run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{40,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{40,37}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>fighter_1_run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,41},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>fighter_1_run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,39}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>fighter_1_run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,84},{40,35}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{40,35}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>fighter_1_run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,37}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_1_run.pvr.ccz</string>
            <key>size</key>
            <string>{102,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b5ffea292d6f5fc7152a1a8736a25ef$</string>
            <key>textureFileName</key>
            <string>fighter_1_run.pvr.ccz</string>
        </dict>
    </dict>
</plist>
