<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_1_5hits_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,32},{42,28}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{42,28}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,74},{40,26}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{40,26}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{66,38}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,38}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,34}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{66,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,38},{64,34}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{64,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,74},{62,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{62,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{66,38}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{66,34}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{66,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{64,34}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{64,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,38},{62,34}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{62,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{42,28}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,12},{42,28}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,62},{40,26}}</string>
                <key>offset</key>
                <string>{28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,14},{40,26}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,90},{32,28}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,12},{32,28}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
            <key>fighter_1_5hits_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,90},{30,34}}</string>
                <key>offset</key>
                <string>{35,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,6},{30,34}}</string>
                <key>sourceSize</key>
                <string>{104,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_1_5hits.pvr.ccz</string>
            <key>size</key>
            <string>{248,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62b4d04269af981639a4df9d664a4898$</string>
            <key>textureFileName</key>
            <string>fighter_1_5hits.pvr.ccz</string>
        </dict>
    </dict>
</plist>
