<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fighter_1_idle_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,822},{104,134}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,19},{104,134}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{106,138}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,15},{106,138}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{104,136}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,17},{104,136}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,136},{108,134}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,19},{108,134}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{112,132}}</string>
			<key>offset</key>
			<string>{5,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,21},{112,132}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,412},{106,134}}</string>
			<key>offset</key>
			<string>{2,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,19},{106,134}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,686},{104,134}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,19},{104,134}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,272},{106,138}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,15},{106,138}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,548},{104,136}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{37,17},{104,136}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
		<key>fighter_1_idle_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,136},{108,134}}</string>
			<key>offset</key>
			<string>{3,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,19},{108,134}}</string>
			<key>sourceSize</key>
			<string>{172,166}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fighter_1_idle-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{116,958}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:69d7b649c6e37d39d246c4a96037fe2c$</string>
		<key>textureFileName</key>
		<string>fighter_1_idle-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
