<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>fighter_1_1hits_fr_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,284},{142,136}}</string>
			<key>offset</key>
			<string>{-93,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,37},{142,136}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,288},{136,132}}</string>
			<key>offset</key>
			<string>{-80,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,41},{136,132}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{340,150},{154,132}}</string>
			<key>offset</key>
			<string>{-37,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{67,41},{154,132}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,148},{176,162}}</string>
			<key>offset</key>
			<string>{-48,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{45,11},{176,162}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{276,144}}</string>
			<key>offset</key>
			<string>{32,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{75,29},{276,144}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{280,2},{202,146}}</string>
			<key>offset</key>
			<string>{-7,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{73,27},{202,146}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{180,150},{158,136}}</string>
			<key>offset</key>
			<string>{-9,-12}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,37},{158,136}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,418},{104,136}}</string>
			<key>offset</key>
			<string>{-70,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{59,37},{104,136}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,312},{104,136}}</string>
			<key>offset</key>
			<string>{-72,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,37},{104,136}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
		<key>fighter_1_1hits_fr_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,422},{112,132}}</string>
			<key>offset</key>
			<string>{-64,-14}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{61,41},{112,132}}</string>
			<key>sourceSize</key>
			<string>{362,186}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>fighter_1_1hits_fr-ipadhd.pvr.ccz</string>
		<key>size</key>
		<string>{496,536}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:b437abe2ab85b47a6d1613f6eb908a2c$</string>
		<key>textureFileName</key>
		<string>fighter_1_1hits_fr-ipadhd.pvr.ccz</string>
	</dict>
</dict>
</plist>
