<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_1_run_fr_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{87,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{87,75}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fighter_1_run_fr_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{79,71}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{79,71}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fighter_1_run_fr_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,75},{93,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{93,71}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fighter_1_run_fr_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,75}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fighter_1_run_fr_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,156},{79,69}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{79,69}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
            <key>fighter_1_run_fr_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{93,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{93,71}}</string>
                <key>sourceSize</key>
                <string>{99,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_1_run_fr-hd.pvr.ccz</string>
            <key>size</key>
            <string>{192,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1283d4cf049ecbe4fb7317351028369d$</string>
            <key>textureFileName</key>
            <string>fighter_1_run_fr-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
