<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fighter_1_5hits_000.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,72},{81,56}}</string>
                <key>offset</key>
                <string>{-38,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{81,56}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,130},{79,52}}</string>
                <key>offset</key>
                <string>{-39,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{79,52}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{127,74}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{127,74}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{129,68}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{129,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{127,68}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{127,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{119,68}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{119,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{127,74}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,6},{127,74}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,68}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,12},{129,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{127,68}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,12},{127,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{119,68}}</string>
                <key>offset</key>
                <string>{33,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,12},{119,68}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,72},{81,56}}</string>
                <key>offset</key>
                <string>{46,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,24},{81,56}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,130},{79,52}}</string>
                <key>offset</key>
                <string>{56,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,28},{79,52}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,184},{63,56}}</string>
                <key>offset</key>
                <string>{68,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,24},{63,56}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
            <key>fighter_1_5hits_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{55,66}}</string>
                <key>offset</key>
                <string>{71,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,14},{55,66}}</string>
                <key>sourceSize</key>
                <string>{207,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fighter_1_5hits-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a967a5613d13835f43609740f09a87a$</string>
            <key>textureFileName</key>
            <string>fighter_1_5hits-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
